<mat-card>
  <mat-card-header>
    <span>{{ pokemon?.name }}</span>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="pokemon" class="pokemon-detail">
      <ng-template *ngIf="pokemon.sprites">
        <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
      </ng-template>
      <div><strong>Height:</strong> {{ pokemon.height }}</div>
      <div><strong>Weight:</strong> {{ pokemon.weight }}</div>
      <div><strong>Base Experience:</strong> {{ pokemon.base_experience }}</div>
    </div>
  </mat-card-content>
</mat-card>
