<h2 mat-dialog-title>Pokemon Details</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <div *ngIf="pokemon" class="pokemon-detail">
        <img [src]="pokemon.sprites?.front_default" alt="{{ pokemon.name }}" />
        <div><strong>Name:</strong> {{ pokemon.name }}</div>
        <div><strong>Height:</strong> {{ pokemon.height }}</div>
        <div><strong>Weight:</strong> {{ pokemon.weight }}</div>
        <div>
          <strong>Base Experience:</strong> {{ pokemon.base_experience }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</mat-dialog-actions>
